{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="px-5 my-5 text-center">
      <h1>Customer Collection</h1>
      <p>This collection represents all the customers who have rented a car from <strong>Melodia-Rent</strong></p>
    </div>
    <button hx-get="{% url 'customers:customer_add' %}" hx-target="#dialog" class="btn btn-primary">
        Shto Konsumator
    </button>
    <table class="table">
        <thead>
        <tr>
            <th>Name </th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for customer in page_obj %}
            <tr id="" class="customer-row">
            <td>{{ customer.name }} {{customer.surname}}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>
                <button
                class="btn"
                hx-get="{% url 'customers:customer_edit' pk=customer.pk %}"
                hx-target="#dialog"
                >
                <i class="fa-solid fa-pen"> </i>
                </button>
                <button
                class="btn"
                hx-get="{% url 'customers:customer_detail' pk=customer.pk %}"
                hx-target="#view-dialog"
                >
                <i class="fa-solid fa-eye"> </i>
                </button>
            </td>
            </tr>
            {% endfor %}
            
            {% comment %} <tr>
            <td class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </td>  {% endcomment %}

        </tbody>
    </table>

    </div>

    <!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- Placeholder for the view modal -->
    <div id="second-modal" class="modal fade">
        <div id="view-dialog" class="modal-dialog" hx-target="this"></div>
    </div>
</div>

<!-- The Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&laquo; First</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {% endif %}
  
        {% with start=page_obj.number|add:"-3" end=page_obj.number|add:"2" %}
        {% for i in page_obj.paginator.page_range %}
        {% if i >= start and i <= end %}
        {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endwith %}
  
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
  </nav>

{% endblock %}