{% for customer in customers %}
<tr id="" class="customer-row">
  <td>{{ customer.name }} {{customer.surname}}</td>
  <td>{{ customer.email }}</td>
  <td>{{ customer.phone_number }}</td>
  <td>
    <button class="btn" hx-get="{% url 'customers:customer_edit' pk=customer.pk %}" hx-target="#dialog"><i class="fa-solid fa-pen"> </i></button>
    <button class="btn" hx-get="{% url 'customers:customer_detail' pk=customer.pk %}" hx-target="#view-dialog"><i class="fa-solid fa-eye"> </i></button>
  </td>
</tr>
{% endfor %}