
{% for reservation in reservations %}
<tr id="" class="reservation-row">
  <td>{{ reservation.customer }}</td>
  <td>{{ reservation.car }}</td>
  <td><span class="">{{ reservation.pickup_date|date:"d-M-y" }} </span></td>
  <td><span class="">{{ reservation.return_date|date:"d-M-y" }}</span></td>
  <td>{{reservation.get_days}}</td>
  <td>{{ reservation.price }}€</td>
  <td>{{ reservation.grand_total }} </td>
  
  <td>
  <button class="btn" hx-get="{% url 'reservations:reservations_edit' pk=reservation.pk %}" hx-target="#dialog"><i class="fa-solid fa-pen"> </i></button>
  <button class="btn" hx-get="{% url 'reservations:reservations_detail' pk=reservation.pk %}" hx-target="#view-dialog"><i class="fa-solid fa-eye"> </i></button>
  <a class="btn" href="{% url 'reservations:print_invoice' pk=reservation.pk %}" ><i class="fa-solid fa-print"> </i></a>  
  

  </td>
</tr>

{% endfor %}

