{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="px-5 my-5 text-center">
      <h1>Vehicle Collection</h1>
      <p>This collection represents all the cars owned or managed by <strong>Melodia-Rent</strong></p>
    </div>
<table class="table">
    <thead>
      <tr>
        <th>Make & Model</th>
        <th>Registration</th>
        <th>Expiration Date</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {% for car in page_obj %}
    <tr id="" class="car-row">
      <td>{{ car.car_make }} {{car.car_model}}</td>
      <td>{{ car.registration_number }}</td>
      <td><span class="registration_expiration_date">{{ car.registration_expiration_date }}</span></td>
      <td>
        <button class="btn" hx-get="{% url 'cars:edit_car' pk=car.pk %}" hx-target="#dialog"><i class="fa-solid fa-pen"> </i></button>
        <button class="btn" hx-get="{% url 'cars:detail_car' pk=car.pk %}" hx-target="#view-dialog"><i class="fa-solid fa-eye"> </i></button>
        
      </td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
  <button hx-get="{% url 'cars:add_car' %}" hx-target="#dialog" class="btn btn-primary">
    Shto Veture
  </button>
</div>

<!-- Placeholder for the modal -->
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

   <!-- Placeholder for the view modal -->
<div id="second-modal" class="modal fade">
      <div id="view-dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- Empty toast to show the message -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body"></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link">&laquo; First</a>
      </li>
      <li class="page-item disabled">
          <a class="page-link">Previous</a>
      </li>
      {% endif %}

      {% with start=page_obj.number|add:"-3" end=page_obj.number|add:"2" %}
      {% for i in page_obj.paginator.page_range %}
      {% if i >= start and i <= end %}
      {% if page_obj.number == i %}
      <li class="page-item active">
          <a class="page-link">{{ i }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endwith %}

      {% if page_obj.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link">Next</a>
      </li>
      <li class="page-item disabled">
          <a class="page-link">Last &raquo;</a>
      </li>
      {% endif %}
  </ul>
</nav>

{% endblock %}