{% for car in cars %}
<tr id="" class="car-row">
  <td>{{ car.car_make }} {{car.car_model}}</td>
  <td>{{ car.registration_number }}</td>
  <td><span class="registration_expiration_date">{{ car.registration_expiration_date }}</span></td>
  <td>
    <button class="btn" hx-get="{% url 'cars:edit_car' pk=car.pk %}" hx-target="#dialog"><i class="fa-solid fa-pen"> </i></button>
    <button class="btn" hx-get="{% url 'cars:detail_car' pk=car.pk %}" hx-target="#view-dialog"><i class="fa-solid fa-eye"> </i></button>
    
  </td>
</tr>
{% endfor %}